body {
  background-color: #282c34;
}

footer {
  position: fixed;
  left: 0;
  bottom: 10vh;
  width: 100%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-link a {
  color: #61dafb;
}
